.meal-page__meal-navigation {
  display: flex;
}

.meal-page__meal-navigation p {
  padding: 10px;
  margin: 10px;
  background: grey;
  color: white;
  cursor: default;
  border-radius: 10px;
}

.meal-page__meal-navigation p.disabled {
  opacity: 0.5;
}

.meal-image {
  height: 200px;
  width: 200px;
}

.instr-container {
  display: flex;
  
  margin-left: 5px;

}

.meal-instructions {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}


