.meal-page__meal-navigation {
  display: flex;
}

.meal-page__meal-navigation p {
  padding: 10px;
  margin: 10px;
  background: grey;
  color: white;
  cursor: default;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 20px;
}

.meal-page__meal-navigation p.disabled {
  opacity: 0.5;
}

.meal-image {
  height: 300px;
  width: 300px;

}

.instr-container {
  display: flex;
 

}

.meal-instructions {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-top: 40px;
}

.meal-page {
  margin-left: 25px;
}